body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: roboto , "sans-serif";
    margin: 0;
}

.outside-container {
    min-width: 700px;
    background-color: #1f2937;
    padding: 20px;
}

.outside-container-2 {
    min-width: 700px;
    padding: 20px;
}

.second-layer {
    display: flex;
    flex-direction: column;
    min-width: inherit;
    max-width: 900px;
    margin: 0 auto;
    background-color: #1f2937;
}

.second-layer-2 {
    display: flex;
    flex-direction: column;
    min-width: inherit;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}

.header-2 p {
    text-align: center;
}

.tiles {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiles p {
    text-align: center;
}

.square {
    height: 50px;
    width: 50px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header p {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.header ul {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.hero-container {
    display: flex;
    margin: 60px auto;
    padding: 20px 0;
    max-width: inherit;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-text .hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

button {
    align-self: flex-start;
    padding: 8px;
    width: 130px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
}

.image-placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.image-placeholder p {
    color: #e5e7eb;
}