body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto , "sans-serif";
}

.header {
    display: flex;
    background-color: #1f2937;
}

.header p {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}